replicaCount: 1

image:
  repository: postgres
  tag: "15"
  pullPolicy: IfNotPresent

service:
  name: postgres
  port: 5432

postgres:
  user: admin
  password: StrongPass123
  database: myappdb

storage:
  enabled: true
  size: 5Gi
  storageClass: gp2

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

probes:
  enabled: true
  startup:
    initialDelaySeconds: 10
    periodSeconds: 5
    failureThreshold: 30
  readiness:
    initialDelaySeconds: 5
    periodSeconds: 5
    failureThreshold: 6
  liveness:
    initialDelaySeconds: 30
    periodSeconds: 10
    failureThreshold: 3

